astroid==3.3.10
black==25.1.0
bump2version==1.0.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
coverage==7.9.0
cryptography==45.0.4
dill==0.4.0
docutils==0.21.2
expects==0.9.0
httpretty==1.1.4
id==1.5.0
idna==3.10
iniconfig==2.1.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mock==5.2.0
more-itertools==10.7.0
mypy_extensions==1.1.0
nh3==0.2.21
-e git+ssh://git@github.com/opentok/Opentok-Python-SDK.git@1ad6e1763b04f4897c1bd1a77ff884cf85e63caf#egg=opentok
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pyasn1==0.6.1
pycparser==2.22
Pygments==2.19.1
PyJWT==2.10.1
pylint==3.3.7
pytest==8.4.0
pytest-cov==6.2.1
pytz==2025.2
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
sure==2.0.1
tomlkit==0.13.3
twine==6.1.0
urllib3==2.4.0
wheel==0.45.1
