language: python
python:
- '2.6'
- '2.7'
- '3.2'
- '3.3'
- '3.4'
install:
- pip install -r test_requirements.txt
- pip install -r requirements.txt
script: nosetests
notifications:
  slack:
    secure: JHQCkY3tajvauFzD0V5A19QN/ZWNNAgt+qsYgaQTPkmhxbxeu48lOifp/jUaaf07aemOm9nFCla/PlTHemCQAe71CsjPIOLNHkXAWjLQ3RJJscIvyKCUbuzn/zZIDt774wx+xIuf5SSjFGmqZFJSyfE/bbNKo1I2EDUmRztrp7c=
